.main {
  font-size: 24px;
  font-weight: 400;
  padding: 10px;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dateInput {
  margin-top: 10px;
  color: inherit;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  border: none;
  background: linear-gradient(to right, rgb(248, 108, 110), rgb(232, 76, 132));
  border-radius: 10px;
}
